# Copy the values from your Google Cloud Service Account JSON file
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_GROUP_ID=-5001844130
GOOGLE_SHEET_ID=your_google_sheet_id
GOOGLE_SERVICE_ACCOUNT={"type":"service_account","project_id":"...copy from JSON file..."}
PORT=3000